<% provide(:title, @micropost.title) %>
<div class="microposts">
  <aside class="col-md-4">
    <%= link_to gravatar_for(@micropost.user), @micropost.user %>
    <h3 class="title"><%= link_to @micropost.title, @micropost %></h3>
    <p class="content"><%= @micropost.content %></p>
    <section class="timestamp">
      <%= link_to @micropost.user.name, @micropost.user %>
      posted <%= time_ago_in_words(@micropost.created_at) %> ago.
    </section>
 </aside>
</div>
<div class="col-md-8">
  <% if logged_in? %>
  <%= render 'shared/comment_form' %>
  <hr>
  <% end %>
  <%= render 'shared/comments' %>
</div>